
POSTGRES_URL=postgresql://neondb_owner:npg_pLsFZzWNf16y@ep-round-block-ad9fcn9g-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_pLsFZzWNf16y@ep-round-block-ad9fcn9g.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-round-block-ad9fcn9g-pooler.c-2.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_pLsFZzWNf16y
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_pLsFZzWNf16y@ep-round-block-ad9fcn9g-pooler.c-2.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_pLsFZzWNf16y@ep-round-block-ad9fcn9g-pooler.c-2.us-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require

# Neon Auth environment variables for Next.js
NEXT_PUBLIC_STACK_PROJECT_ID=dde5e90e-e653-42e0-b92a-9c65e0eef0fc
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=pck_n5aecpb9xe2ke2cgwxsw4d1setnm5fhense44gbnxnzng
STACK_SECRET_SERVER_KEY=ssk_et2pa2wmnnkmzgz91dxpxxmm7hedv248dfaydbhnkswt8

AUTH_SECRET=5266521d13d893689be3b2fccfc95299
